{{#ci}}
name: CI

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
    - '**.yml'
  pull_request:
  workflow_dispatch:
concurrency:
{{=<< >>=}}
  group: ${{ github.workflow }}-${{ github.ref }}-ci
<<={{ }}=>>
  cancel-in-progress: true

permissions:
  contents: read

{{#count(env)}}
env:
{{#enumerated(env)}}
  {{{key}}}: {{{value}}}
{{/enumerated(env)}}
{{/count(env)}}
jobs:
{{#mac}}
  macOS:
    runs-on: macos-26
    timeout-minutes: 15
{{#count(mac.env)}}
    env:
{{#enumerated(mac.env)}}
      {{{key}}}: {{{value}}}
{{/enumerated(mac.env)}}
{{/count(mac.env)}}
    steps:
    - name: Select appropriate Xcode version
      uses: maxim-lobanov/setup-xcode@ed7a3b1fda3918c0306d1b724322adc0b8cc0a90 # v1.7.0
      with:
        xcode-version: latest-stable
    - name: Checkout
      uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0  # v7.0.0
{{#enable_tests}}
    - name: SPM tests
      run: swift test --enable-code-coverage
    - name: Upload coverage data
      uses: vapor/swift-codecov-action@2f478f2fd22e06ca363967d0fb6c6593a8548cee  # v0.3.5
      with:
{{=<< >>=}}
        codecov_token: ${{ secrets.CODECOV_TOKEN }}
<<={{ }}=>>
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}

{{/mac}}
{{#linux}}
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: {{{images}}}
        {{#enumerated(matrix)}}
        {{{key}}}: {{{value}}}
        {{/enumerated(matrix)}}
        {{#matrix-include}}
        {{{.}}}
        {{/matrix-include}}
    container:
      {{=<< >>=}}
      image: ${{ matrix.image }}
      <<={{ }}=>>
{{#services}}
    services:
      {{{.}}}
{{/services}}
{{#count(linux.env)}}
    env:
{{#enumerated(linux.env)}}
      {{{key}}}: {{{value}}}
{{/enumerated(linux.env)}}
{{/count(linux.env)}}
    steps:
    - name: Install curl
      run: apt-get update -yq && apt-get install -y curl
    - name: Checkout
      uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0  # v7.0.0
{{#additional_steps}}
    {{{.}}}
{{/additional_steps}}
{{#enable_tests}}
    - name: Test
      run: |
        swift test --enable-code-coverage
    - name: Upload coverage data
      uses: vapor/swift-codecov-action@2f478f2fd22e06ca363967d0fb6c6593a8548cee  # v0.3.5
      with:
{{=<< >>=}}
        codecov_token: ${{ secrets.CODECOV_TOKEN }}
<<={{ }}=>>
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}
{{/linux}}
{{#windows}}
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        swift-version: {{{swift-versions}}}
    steps:
      - uses: compnerd/gha-setup-swift@eeda069c5bc95ac8a9ac5cea7d4f588ae5420ca5  # v0.4.0
        with:
{{=<< >>=}}
          swift-version: swift-${{ matrix.swift-version }}-release
          swift-build: ${{ matrix.swift-version }}-RELEASE
<<={{ }}=>>
      - uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0  # v7.0.0
{{#enable_tests}}
      - run: swift test
{{/enable_tests}}      
{{^enable_tests}}
      - run: swift build
{{/enable_tests}}      
{{/windows}}
{{/ci}}
