{{#ci}}
name: CI

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
    - '**.yml'
  pull_request:
  workflow_dispatch:

jobs:
{{#mac}}
  macOS:
    runs-on: macOS-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
{{#enable_tests}}
    - name: SPM tests
      run: swift test --enable-code-coverage
    - name: Convert coverage files
      run: |
        xcrun llvm-cov export -format "lcov" \
          .build/debug/{{project}}PackageTests.xctest/Contents/MacOs/{{project}}PackageTests \
          -ignore-filename-regex="\/Tests\/" \
          -ignore-filename-regex="\/Benchmarks\/" \
          -instr-profile=.build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v3
      with:
        file: info.lcov
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}
{{/mac}}
{{#linux}}
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: {{{images}}}
    {{{services}}}
    container:
      {{=<< >>=}}
      image: ${{ matrix.image }}
      <<={{ }}=>>
      {{#env}}
      env:
      {{#entries}}
        {{{.}}}
      {{/entries}}
      {{/env}}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
{{#enable_tests}}
    - name: Test
      run: |
        swift test --enable-code-coverage
    - name: Convert coverage files
      run: |
        llvm-cov export -format="lcov" \
          .build/debug/{{project}}PackageTests.xctest \
          -ignore-filename-regex="\/Tests\/" \
          -ignore-filename-regex="\/Benchmarks\/" \
          -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v4
      with:
        file: info.lcov
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}
{{/linux}}
{{/ci}}
