{{#ci}}
name: Swift nightly build

on:
{{#nightly}}
  schedule:
    - cron: '0 1 * * {{#every}}*{{/every}}{{^every}}1{{/every}}'
{{/nightly}}
  workflow_dispatch:

{{#count(env)}}
env:
{{#enumerated(env)}}
  {{{key}}}: {{{value}}}
{{/enumerated(env)}}
{{/count(env)}}

jobs:
{{#linux}}
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ['nightly-focal', 'nightly-jammy', 'nightly-amazonlinux2']
        {{#enumerated(matrix)}}
        {{{key}}}: {{{value}}}
        {{/enumerated(matrix)}}
        {{{matrix-include}}}
    {{{services}}}
    container:
      {{=<< >>=}}
      image: swiftlang/swift:${{ matrix.image }}
      <<={{ }}=>>
      {{#volumes}}volumes: {{{.}}}{{/volumes}}
    {{#count(additional-env)}}
    env:
    {{#enumerated(additional-env)}}
      {{{key}}}: {{{value}}}
    {{/enumerated(additional-env)}}
    {{/count(additional-env)}}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
{{#enable_tests}}
    - name: Test
      run: |
        swift test
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}
{{/linux}}
{{/ci}}
